*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: sans-serif;
}

.login-container, 
.register-container {
  display: flex;
  flex-direction: column;
}

.container-images {
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustration {
    display: flex;
    justify-content: center; 
}


#illustration{
    display: flex;
    width: 65%;
    justify-content: center; 
}

.logo {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

#logo {
    display: flex;
    width: 65%;
    justify-content: center; 
}

.login-credentials, 
.register-credentials {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    order: 3; 
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#loginEmail,
#name {
    margin-top: 2%;
    width: 65%;
    height: 4.5vh;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #7F8442;
    border-radius: 30px;
    font-size: 13px;
    line-height: 15px;
    color: #142030;
}

#loginPassword, 
#email, 
#password {
    margin-top: 3.5%;
    width: 65%;
    height: 4.5vh;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #7F8442;
    border-radius: 30px;
    font-size: 13px;
    line-height: 15px;
    color: #142030;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#loginBtn, 
#googleBtn, 
#registerBtn {
    margin-top: 3.5%;
    width: 65%;
    height: 4.5vh;
    text-align: center;
    background: #EB583E;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    line-height: 15px;
    color: #EFF1C6;
}

#googleBtn{
    background: #42A5DC;
    color: #EFF1C6;
}

h4 {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .7rem;
    color: #142030;
}

a{
  text-decoration: none;
  color: #EB583E;
}

.conditions {
    width: 65%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
}

/* Template home */

.container-header {
  display: flex;
  background-color: #7F8442;
  width: 100%;
  height: 10vh;
  position: fixed;
  justify-content: space-around;
  align-items: center;
}

#logoVerde {
  width: 40vh;
}

.main {
    display: flex;
    
}

.wall {
  display: flex;
  flex-direction: column;
  background-color: none;
  width: 100%;
  height: 90vh;
  align-items: center;
}

.post,
.container-comment {
  width: 80%;
  height: 15vh;
  margin-top: 28%;
  background: #FFFFFF;
  border: 1px solid #E6E4EA;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-shadow: 5px 10px 8px #E6E4EA;

}

.write {
  margin-top: 7%;
  height: 35%;
  width: 80%;
  background-color: #F0F2F5;
  border: none;
  font-size: 1rem;
  color: #57616e;
  cursor: pointer;
  border-radius: 15px;
  
}

.picture {
    display: flex;
   
}

#picture-icon {
 width: 20%;
 height: auto;
 margin-left: 75%;
}

.write:hover {
  background-color: #E6E4EA;
}

/*
.false-post{
    background-color: #EB583E;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    color: #EFF1C6;
    width: 65%;
    height: 4.5vh;
}
*/

.modal-container {
display: flex;
margin-top: 20%;
position: fixed;
pointer-events: none;
opacity: 0;

}

.modal {
    
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
  
}

.modal-post {
  width: 100%;
  height: 50vh;
  margin-top: 3vh;
  background: #FFFFFF;
  border: 1px solid #E6E4EA;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-shadow: 5px 10px 8px #E6E4EA;
  transition: all 4s;
}

.publication {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    
}

#close_btn {
    margin-left: 83%;
    margin-top: 8%;
    width: 10vw;
}

.modal-title {
    margin-top: 10%;
    height: 5vh;
    text-align: left;
    border-radius: 7px;
    font-size: 13px;
    background-color: #F0F2F5;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

textarea {
    margin-top: 8%;
    height: 25vh;
    text-align: left;
    border-radius: 7px;
    font-size: 13px;
    background-color: #F0F2F5;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.icons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    height: 10%;
    margin-bottom: 10%;
}

.modal-btn {
    width: 50%;
    height: 4.5vh;
    text-align: center;
    background: #EB583E;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    line-height: 15px;
    color: #EFF1C6;
}

.modal-icon {
    height: 15%;
    width: auto;
}


.show {
    opacity: 1;
    pointer-events: auto;
    transition: all 1s;
}

.container-footer {
  display: flex;
  background-color: #7F8442;
  width: 100%;
  height: 10vh;
  position: fixed;
  justify-content: space-around;
}

.home-green,
.post-green,
.close-green {
  cursor: pointer;
}

.feed-container {
display: flex;
flex-direction: column;
justify-content: center;
width: inherit;
}

.comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-comment {
    display: flex;
    margin-top: 8%;
    word-break: break-word;
}

.user-name {
    display: flex;
    font-weight:bolder;
    width: 100%;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 10%;
    height: auto;
}

.title-comment {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 3%;
    height: auto;
}
.description-comment {
display: flex;
width: 100%;
align-items: flex-start;
margin-left: 5%;
margin-top: 3%;
height: auto;
}

.user-icons {
    display: flex;
    width: 100%;
}

.owner-icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

#delete_icon,
#like_icon {
    width: 20%;
    }

.button-delete,
.button-like {
    background-color: transparent;
    border: none;
}


@media (min-width: 426px) and (max-width: 768px) {

.container-images {

    display: flex;
    justify-content: flex-start;
}

.illustration {
    display: flex;
    justify-content: flex-start;
}


#illustration{
    display: flex;
    width: 55%;
    justify-content: flex-start;
    margin-left: 2%;
}

.logo {
    
    display: flex;
    width: 35%;
    justify-content: flex-end;
}

#logo {
    display: flex;
    width: 35%;
    justify-content: flex-end; 
}


}

@media (min-width: 769px) {

    .container-images {

        display: flex;
        justify-content: flex-start;
    }
    
    .illustration {
        display: flex;
        justify-content: flex-start;
    }
    
    
    #illustration{
        display: flex;
        width: 55%;
        justify-content: flex-start;
        margin-left: 2%;
    }
    
}

/*
input:hover{
    border: 1px solid #EB583E;
}
::placeholder {
    color: #142030;
    font-size: 1.2em;
}
@media (min-width: 993px) {
    .illustration {
        width: 50%;
        align-items: flex-start;
    }
    .logo{
        flex: 0 0 20%;
    }
}
*/